@model List<Trip>
@{
    
    string message = ViewBag.Message;
}

<main class="container">
    @if (!string.IsNullOrEmpty(message)) 
    {
        <div class="alert alert-secondary">
            <h1>Trip to @message added.</h1>
        </div>
    }
    <a asp-controller="Trip" asp-action="Add">Add a new trip</a>
    <table class="table table-bordered table-striped">
        <tr><th>Destination</th><th>Start Date</th><th>End Date</th><th>Accommodations</th><th>Things To Do</th></tr>
        @foreach (var trip in Model) {


            <tr>
                <td>@trip.Destination</td>
                <td>@trip.StartDate.Date.ToShortDateString()</td>
                <td>@trip.EndDate.Date.ToShortDateString()</td>
                <td>@trip.AccomodationsStringBuilder()</td>
                <td>@trip.ThingsToDoStringBuilder()</td>
            </tr>
        }
    </table>
</main>
